.topBar {
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: cornsilk;
}

.topBar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}

.topRight {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 5px;
}

.topIconContainer {
  position: relative;
  cursor: pointer;
  margin: 0 5px;
}

.topIconBadge {
  width: 15px;
  height: 15px;
  position: absolute;
  right: -7px;
  top: -8px;
  font-size: 13px;
  background-color: red;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.img-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
